{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
		</div>

		<div class="col-lg-9"></div>
		<div class="col-lg-3">
			<a class="btn" href=""><h3 class="text-end">Shopping Cart</h3></a>
		</div>

		<div class="col-lg-8" style="margin-bottom: 50px;">
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:1" class="text-center"><strong>Item</strong></div>
					<div style="flex:2"><strong></strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				<!---->
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:1"><img class="row-image rounded mx-auto d-block" style="width: 150px;" src="{{item.product.imageURL}}"></div>
					<div style="flex:2; margin-top: 1.5rem"><p style="margin: auto;">{{item.product.name}}</p></div>
					<div style="flex:1; margin-top: 1.5rem"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1; margin-top: 1rem">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static 'media/arrow-up.png' %}">
							<img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static 'media/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1 ; margin-top: 1.5rem"><p>${{item.get_total}}</p></div>
				</div>
                <div class="cart-row">
					<a style="flex:2;float:right; margin:5px;" class="btn btn-outline-secondary" href="">Add Wistlist</a>
                    <button data-product={{item.product.id}} data-action="removeAll" style="flex:1;float:right; margin:5px;" class="btn btn-outline-secondary update-cart">Remove</button>
                </div>
				<form class="cart-row" method="POST" action="">
					{%csrf_token%}
					<div class="col" style="flex:11">
						{{ form.note }}
					</div>
					<div class="col" style="flex:1">
						<input class="submit btn btn-outline-secondary" type="submit" value="Submit"/>
					</div>
				</form>
				<div class="cart-row">
				</div>
				{% endfor %}
				<!---->
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box-element">
				<h5 class="text-left" style="padding:5px;">Ringkasan</h5>
				<table class="table">
					<tr>
						<th><p>Jumlah Item:</p></th>
						<th><p><strong>{{order.get_items_total}}</strong></p></th>
					</tr>
					<tr>
						<th><p>Total Harga:</p></th>
						<th><p><strong>${{order.get_price_total|floatformat:2}}</strong></p></th>
					</tr>
					<tr>
						<th colspan="3"><a class="btn btn-success checkout" href="{% url 'checkout' %}">Checkout</a></th>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock content %}